@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #001427ff;
  --oxford-blue: #001427ff;
  --hookers-green: #708d81ff;
  --jasmine: #f4d58dff;
  --engineering-orange: #bf0603ff;
  --dark-red: #8d0801ff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001427ff;
    --foreground: #f4f4f4;
  }
}
